@import "tailwindcss";
/* Autofill hone par background aur text color ko maintain rakhta hai */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important; /* Aapka text color */
    -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important; /* Aapka background color */
    transition: background-color 5000s ease-in-out 0s;
}